@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html,
body{
    margin: 0;
    padding:0;
    font-family:'Raleway', serif;
    background:#2b9348;
}
#particles-js{
    width:100%;
    min-height:100vh;
    position:absolute;
    top:0; left:0;
    border:1px;
    /*background:#70e000;*/
    background:#2b9348;

}

#name{
    
    font-size: 4rem;
    color: #ddd;
    text-align: center;
}
#tagline{
    
    font-size: 1rem;
    color: #ddd;
    text-align: center;
}
